extends _layout

block main
    div(class="col-md-9", ng-controller="RecordCtrl")
        div(ng-init="day=#{days}")
            h3 {{day}}
            div(ng-init="initRecord([#{data}])")
                //- http://getbootstrap.com/css/
                table(class="table table-hover table-condensed ")
                    tr(class="active")
                        td from
                        td to
                        td duration
                        td activity
                        td eyes
                    tr(ng-repeat="record in records")
                        td
                            div {{records[($index)].from}}
                        td
                            div {{records[($index)].to}}
                        td 
                            div {{records[($index)].duration}}
                        td
                            div {{records[($index)].activity}}
                        td
                            div {{records[($index)].code}}