doctype html
html(lang="en", ng-app)
    head
        meta(charset="utf-8")
        title Logging Tool
        //- link(rel="stylesheet", href="css/app.css")
        link(rel="stylesheet", href="css/bootstrap.css")
        script(src="angular.js")
        script(src="ctrl/recordctrl.js")
        script(src="ctrl/eyesctrl.js")
    body
        div(class="container-fluid", ng-app)
            h1 Logging Tool
            div(class="row-fluid")
                div(class="span2", ng-controller="EyesCtrl")
                    table
                        tr
                            td
                                h3 eyes content
                        tr(ng-repeat="eye in eyes")
                            td {{eye.content}}
                div(class="span10", ng-controller="RecordCtrl")
                    h3 20140204
                    div
                        div(ng-init="records=[#{data}]")
                            table
                                tr
                                    td from
                                    td to
                                    td duration
                                    td activity
                                    td eyes
                                tr(ng-repeat="record in records")
                                    td
                                        input(type="text", ng-model="records[($index)].from", required)
                                    td
                                        div(ng-if="$last == true")
                                            input(type="text", ng-model="records[($index)].to", required)
                                        div(ng-if="$last == false") {{ records[($index)+1].from }}
                                    td 
                                        div {{calculateDuration($index)}}
                                    td
                                        input(type="text", ng-model="records[($index)].activity", required)
                                    td
                                        input(type="text", ng-model="records[($index)].code", required)
                                    td
                                        button(ng-click="updateForm($index)") current time
                                    td
                                        button(ng-click="insertRecord($index)") +
                                    td
                                        button(ng-click="deleteRecord($index)") -
                            div
                                //- form(method="post")
                                button(ng-click="saveRecord()") save
                                //- button(ng-click="insertRecord($index)") +
                            dif
                                button(ng-clike="calculateRecord()") calculate
                        div {{records}}
                            //- {{duration}}
            //- {{init}}